.groceries-form {
  width: 30rem;
  margin: 2rem auto;
  max-width: 80%;
}

.form-control-container {
  display: flex;
  align-items: baseline;
}

.form-control label {
  flex: 1;
  padding-right: 10px;
}

.form-control input {
  flex: 2;
  font: inherit;
  padding: 0.1rem 0.25rem;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
  margin-right: 10px;
}

.form-control input:focus {
  outline: none;
  border-bottom-color: #ff2058;
}

.groceries-form__actions {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
